<footer [ngClass]="{'bg-dark' : theme === 'moon'}" class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Maitre du jeu</h4>
                <p class="lead mb-0">
                    Pascal Distante
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">réseau sociaux</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><fa-icon [icon]="faFacebook" class="nav-link py-3 px-0 px-lg-3 rounded"></fa-icon></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><fa-icon [icon]="faTwitter" class="nav-link py-3 px-0 px-lg-3 rounded"></fa-icon></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><fa-icon [icon]="faInstagram" class="nav-link py-3 px-0 px-lg-3 rounded"></fa-icon></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><fa-icon [icon]="faTwitch" class="nav-link py-3 px-0 px-lg-3 rounded"></fa-icon></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">A propos du jeu de rôle</h4>
                <p class="lead mb-0">
                    Si vous voulez en savoir d'avantage sur le JDR et Antharse, visitez :   
                    <a href="http://antharse.atwebpages.com/antharse.html">Ce deuxième site</a>
                    .
                </p>
            </div>
        </div>
    </div>
</footer>
